@{
  ViewBag.CurrentPage = "about";
  ViewBag.Title = "About";
}
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>@ViewBag.Title.</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>@ViewBag.Message</h2>
    <p>
      Use this area to provide additional information.
    </p>

    <p>
      Use this area to provide additional information.
    </p>

    <p>
      Use this area to provide additional information.
    </p>
  </div>
  <div class="span3">
    <h2>Aside Title</h2>
    <p>
      Use this area to provide additional information.
    </p>
    <ul>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("About", "About", "Home")</li>
      <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
  </div>
</div>
