@helper NavBarLink(string linkName, string linkText, string linkIcon, string actionName, string controllerName)
{
  if (ViewBag.CurrentPage == linkName) {
  <li class="active"><a href="@Url.Action(actionName, controllerName)">@if (linkIcon != null) {<i class="icon-@linkIcon"></i>} @linkText</a></li>
  } else {
  <li><a href="@Url.Action(actionName, controllerName)">@if (linkIcon != null) {<i class="icon-@linkIcon"></i>} @linkText</a></li>
  }
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="NetMeeting">
  <meta name="author" content="William Turner &lt;willtur.will@gmail.com&gt;">

  <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
  <style>
    body {
      padding-top: 60px;
    }
  </style>
  <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet">
  <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet">
  <!--[if IE 7]>
  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
  <![endif]-->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  @RenderSection("styles", false);

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/ico/apple-touch-icon-144-precomposed.png")">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/ico/apple-touch-icon-114-precomposed.png")">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/ico/apple-touch-icon-72-precomposed.png")">
  <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/ico/apple-touch-icon-57-precomposed.png")">
  <link rel="shortcut icon" href="@Url.Content("~/Content/ico/favicon.png")">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        @Html.ActionLink("NetMeeting", "Index", "Home", null, new { @class = "brand" })
        <div class="nav-collapse collapse">
          <ul class="nav">
            @NavBarLink("home", "Home", "home", "Index", "Home")
            @NavBarLink("about", "About", null, "About", "Home")
            @if (Request.IsAuthenticated) {
              @NavBarLink("logout", "Log out", "signout", "Logout", "Account")
            } else {
              @NavBarLink("register", "Register", null, "Register", "Account")
              @NavBarLink("login", "Log in", "signin", "Login", "Account")
            }
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    @RenderBody()
  </div>
  <!-- /container -->

  <!-- JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
  <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.signalR-1.0.0-rc1.min.js")"></script>
  @RenderSection("scripts", false)
</body>
</html>
