@model NetMeeting.Models.RegisterExternalLoginModel
@{
  ViewBag.CurrentPage = "register";
  ViewBag.Title = "Register";
}

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>@ViewBag.Title</h1>
    </div>
    <h2>Associate your @ViewBag.ProviderDisplayName account.</h2>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" })) {
      @Html.AntiForgeryToken()

      <fieldset>
        <legend>Association Form</legend>
        <p>
          You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
          Please enter a user name for this site below and click the Confirm button to finish
          logging in.
        </p>

        @if (!ViewData.ModelState.IsValid) { @Html.ValidationSummary(false, null, new { @class = "alert alert-block alert-error" }) }

        <div class="control-group@((!ViewData.ModelState.IsValidField("UserName")) ? " error" : "")">
          @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
          <div class="controls">
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
          </div>
        </div>

        @Html.HiddenFor(m => m.ExternalLoginData)

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </fieldset>
    }
  </div>
</div>
