@model NetMeeting.Models.LocalPasswordModel
@{
  ViewBag.CurrentPage = "manage";
  ViewBag.Title = "Manage Account";
}

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>@ViewBag.Title</h1>
    </div>

    @if (!String.IsNullOrEmpty(ViewBag.SuccessMessage)) {<div class="alert alert-success">@ViewBag.StatusMessage</div>}

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword) {
      @Html.Partial("_ChangePasswordPartial")
    } else { 
      @Html.Partial("_SetPasswordPartial")
    }

    @Html.Action("RemoveExternalLogins")

    <h2>Add an external login</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
  </div>
</div>
